@media screen and (min-width: 486px) {
  .container {
    width: 428px;
  }
  /* -------------Customers------ */
  .customer-container .customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 396px; */
  }

  .customer-list-item {
    margin-bottom: 72px;
    width: calc((100%-16px) / 2);
    display: flex;
    justify-content: center;
  }

  .customer-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
